.isIcon {
    align-items: center;
    display: flex;
}

.iconButton.iconButton.iconButton.iconButton.iconButton {
    justify-content: center;
    display: flex;
    font-size: 96px;
    height: 100%;
}

.image {
    height: 250px;
    overflow: hidden;
    width: 100%;
}