.grid.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: stretch;
    list-style: none;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1408px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}