.iconButton.iconButton.iconButton.iconButton.iconButton {
    justify-content: center;
    display: flex;
    font-size: 128px;
    padding: 4rem;
    height: 100%;
}

.image {
    overflow: hidden;
    width: 100%;
}

.isCentered {
    align-items: center;
    display: flex;
    max-height: 250px;
}