.image {
    max-height: 48px;
    overflow: hidden;
    text-align: center;
    width: 48px;
}

.mediaContent {
    overflow: hidden;
}

.webId.webId {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}